@font-face{

font-family:"Poppins-Bold";
 src:url("../Fonts/Poppins-Bold.otf");

}
@font-face{

font-family:"Poppins-Medium";
 src:url("../Fonts/Poppins-Medium.otf");

}
@font-face{

font-family:"Poppins-Regular";
 src:url("../Fonts/Poppins-Regular.otf");

}
* {
	padding:0;
	margin:0;
}
p {
	margin-bottom:0;
}
strong {
	font-family:Poppins-Medium;
}
body {
	font-family:Poppins-Regular;
	font-size:12px;
}
.container {
	padding:0;
}
.slider {
	background-color:#ebf8ff;
	height:100vh;
	width:100%;
}
.carousel-inner {
	width:100%;
	height:430px;
	margin:auto;
	text-align:center;
	font-size:12px;
	padding:20px;
}
.carousel-indicators li {
	border:2px solid #63b9ec;
	height:12px;
	width:12px;
	border-radius:100%;
	opacity:1;
}
.carousel-indicators {
	position:relative;
}
.carousel-indicators .active {
	background-color:#63b9ec;
}
.carousel {
	top:50%;
	left:50%;
	transform:translate(-50%,
	-50%);
	margin:auto;
}
h1 {
	font-size:25px;
	font-family:Poppins-Bold;
}
h2 {
	font-size:18px;
	font-family:Poppins-Bold;
}
h3 {
	font-family:Poppins-Medium;
	font-size:23px;
}
.carousel-item p {
	margin-bottom:5px;
}
strong {
	font-family:'Poppins-Medium';
	font-weight:normal;
	font-size:14px;
}
.carousel-item img {
	width:65%;
	height:auto;
	margin:15px auto;
}
.carousel-item ul {
	list-style:none;
	width:90%;
	margin:auto;
	font-size:12px;
}
.carousel-item ul li {
	text-align:left;
}
.carousel-item ul li::before {
	content:"\2022";
	color:red;
	font-weight:bold;
	font-size:15px;
	display:inline-block;
	width:1em;
	margin-left:-1em;
}
.Btn {
	border:2px solid #289fe3;
	border-radius:18px;
	padding:5px;
	font-size:18px;
	width:170px;
	text-align:center;
	background-color:white;
	color:#289fe3;
	margin:auto;
	margin-bottom:20px;
	text-transform:uppercase;
	font-family:'Poppins-Medium';
}
#signUp,
#signIn {
	width:130px;
}
.landing-page img {
	width:100%;
	margin-bottom:30px;
}
.landing-page > div {
	width:80%;
	margin:auto;
	height:600px;
}
.btnActive {
	background-color:#289fe3;
	color:white;
}
.social-media img {
	width:35px;
	margin:auto 10px;
}
.input-group-text {
	width:50px;
	justify-content:center;
	background-color:transparent;
	border:none;
}
.form-control {
	border:none;
	font-size:14px;
	/* padding: 25px 10px; */
	background-color:transparent;
	margin:0;
	display:flex;
	justify-content:center;
	align-items:center;
}
.input-group {
	height:50px;
	background-color:white;
	border-radius:25px;
	padding:0 5px;
	border:1px solid #cdcdcd;
	display:flex;
	align-items:center;
}
form {
	margin:30px auto;
}
.input-group input::placeholder {
	color:#cccccc;
}
.txt-bottom {
	position:absolute;
	bottom:0;
	width:100%;
}
.txt-bottom span {
	color:#259dd2;
}
.agreementText {
	height:95% !important;
	width:93% !important;
	border-radius:20px;
	background-color:white;
	margin:auto;
	box-shadow:0 0 5px #eaeaea;
	padding:15px;
}
.license-doc {
	background-image:url(../Images/background-top.png),
	url(../Images/background-bottom.png) !important;
	background-size:contain,
	contain;
	background-repeat:no-repeat,
	no-repeat;
	background-position:top left,
	bottom;
	background-color:#46bee8;
}
.containt {
	height:70%;
	border:1px solid gray;
	margin-bottom:20px;
	text-align:left;
	padding:5px;
	overflow-x:auto;
	font-size:12px;
}
.body-Content {
	background-image:url(../Images/background-top.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:top left;
	width:100%;
	height:100%;
	padding:20px;
	margin-bottom:70px;
}
.header {
	background-image:url(../Images/background-top.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top left;
	width:100%;
	height:150px;
	padding:20px;
}
.profile {
	height:90px;
	width:90px;
	border-radius:100%;
	background-color:white;
}
.fa-long-arrow-left {
	color:white;
	font-size:20px !important;
}
.body-Content h3 {
	font-family:'Poppins-Bold';
}
.color {
	color:white;
}
.search {
	background-color:white;
	margin:15px 0;
	border-radius:17px;
	padding:8px;
	position:relative;
}
.search label {
	margin-bottom:0;
	padding-left:10px;
}
.icon {
	position:absolute;
	right:10px;
}
.back-Box {
	height:80px;
	width:95px;
	background-color:#afe2f5;
	margin:auto;
	box-shadow:0 0 5px #d8d8d8;
	border-radius:8px;
	position:relative;
	top:-10px;
}
.Front-Box {
	height:115px;
	width:115px;
	background-color:white;
	margin:auto;
	padding:12px;
	box-shadow:0 0 5px #d8d8d8;
	border-radius:8px;
	position:absolute;
	top:7px;
	left:-9px;
	line-height:15px;
	font-family:'Poppins-Medium';
}
.Front-Box label {
	margin-top:15px;
}
.Nevigation {
	position:fixed;
	bottom:0;
	left:0;
	background-color:white;
	width:100%;
	box-shadow:0 0 10px #c8c8c8;
	z-index: 3;
}
.Nevigation ul {
	margin-bottom:0;
	padding-inline-start:0;
	/* padding: 15px 0; */
}
.Nevigation ul li {
	display:inline-block;
	list-style-type:none;
	width:92px;
	text-align:center;
	font-size:11px;
	margin:10px 4px;
	padding:8px 0;
}
.Nevigation ul li span {
	visibility:hidden;
}
.activeMenu {
	background-color:#d2f2fd;
	border-radius:20px;
}
.activeMenu span {
	visibility:visible !important;
}

.activeMenu a {
    color: #212529;
}
.Nevigation ul li img {
	width:20px;
	margin-right:5px;
}
.swiper {
	width:100%;
}
.swiper-wrapper {
	align-items:center;
}
.swiper-slide {
	font-size:12px;
	background: #b1eaff;
	margin:0 7px;
	padding:15px;
	border-radius:10px;
	width:350px;
	height:120px;
}
.swiper-slide-active {
	height:150px;
}
.swiper-slide h3 {
	margin-bottom:5px;
	font-size:18px;
	line-height:19px;
	font-family:'Poppins-Bold';
}
.swiper-slide hr {
	margin:0;
	width:60px;
	background-color:#808080;
	margin-bottom:5px;
}
.swiper-slide img {
	width:100%;
}
#product-box {
	width:95%;
	margin:auto;
	margin-top:20px;
}
#product-box .swiper-slide {
	text-align:center;
	font-size: 8px;
	background:#ffffff;
	box-shadow:0 0 3px #d5d5d5;
	padding: 0px;
	border-radius:8px;
	width: 70px;
	height: 70px;
	font-family:'Poppins-Medium';
	line-height:9px;
}
#product-box .swiper-slide-active {
	background-color: #d2f2fd;
}
#product-box .swiper-slide div {
	height:100%;
	width:100%;
}
#product-box .swiper-slide img {
	width:60%;
}
.product-list .col-6 > div {
	width:120px;
	height:120px;
	background-color:#f8f8f8;
	border-radius:5px;
	text-align:center;
	padding:10px;
	margin:12px auto;
	box-shadow:0 0 5px #dadada;
	display:flex;
	justify-content:center;
	align-items:center;
}
.background-img {
	height:180px;
	width:100%;
	background-size:contain;
	background-repeat:no-repeat;
	position:relative;
	z-index: 2;
	display:flex;
	justify-content:center;
}
.background-img img {
	position:absolute;
	top:-35px;
}
.row {
	margin:0;
}
.input-Box {
	height:100%;
	background-color:white;
	padding:50px 5px 10px;
	position:relative;
	top:-40px;
	font-size:14px;
	border-radius:0 0 5px 5px;
	z-index: 1;
}
.input-Box input,
.input-Box select {
	width:100%;
	border:none;
	border-bottom:1px solid gray;
	padding:5px;
}
.input-Box button {
	position:fixed;
	bottom:55px;
	left:0;
	width:100%;
	border:none;
	background-color:#43abe8;
	color:white;
	font-size:22px;
	font-family:'Poppins-Medium';
	padding:5px;
	box-shadow:0 0px 6px grey;
	z-index:1;
}
input:focus,
select:focus {
	outline:none;
}
.input-Box .row > div {
	position:relative;
	height:55px;
}
.input-Box label {
	position:absolute;
	top:9px;
	left:20px;
}
.txt {
	top:-12px !important;
	font-size:12px;
}
.radio div {
	width:90px;
	margin:0px 10px;
	background-color:#e2e2e2;
	padding:4px;
	border-radius:15px;
}
.radio label {
	position:relative;
	top:0;
	margin-bottom:0;
}
.radio input[type="radio"] {
	width:auto;
	display:none;
}
.radio input[type="radio"]:checked + div {
	font-family:Poppins-Medium;
	background-color:#96e4ff !important;
}
/*Toggle Switch*/

.txt {
	color:gray;
	padding:0;
	margin-right:8px;
	font-size:12px;
	font-weight:normal;
}
.toggle {
	position:relative !important;
	top:0 !important;
	left:0 !important;
	display:inline-block;
	width:90% !important;
	margin:auto;
	height:35px;
	background-color:#ffffff;
	border-radius:10px;
	border: 2px solid #42abe7;
}
/* After slide changes */

.toggle:after {
	content:'';
	position:absolute;
	width:50%;
	height:33px;
	border-radius:10px;
	background-color:#42abe7;
	border:1px solid #42abe7;
	top:-1px;
	left:0;
	transition:all 0.5s;
}
/* Toggle text */

p {
	padding:4px;
	margin-bottom:0;
}
/* Checkbox checked effect */

.checkbox:checked + .toggle::after {
	left:50%;
}
/* Checkbox checked toggle label bg color */

.checkbox:checked + .toggle {
	background-color:#ffffff;
}
.checkbox:checked + .toggle p {
	font-family:'Poppins-Medium';
}
/* Checkbox vanished */

.checkbox {
	display:none;
}
.toggle .row {
	position:absolute;
	z-index:1;
	width:100%;
	text-align:center;
	height:35px;
}
.toggle .row > div {
	height:auto;
}
#vehicleNumber > div {
	margin-bottom:5px;
}
.goBtn button {
	position:relative;
	width:auto;
	padding:0 10px;
	border-radius:5px;
	bottom:0;
	margin:15px;
	box-shadow:none;
}
.slider-container {
	position:relative;
	height:9px;
}
.slider-container .bar {
	position:absolute;
	z-index:1;
	left:2px;
	top:6px;
	width:100%;
	height:2px;
	border-radius:0;
	background-color:#d3d3d3;
	overflow:hidden;
}
.slider-container .slider {
	position:relative;
	top:-3px;
	z-index:2;
	-webkit-appearance:none;
	width:100%;
	height:0px;
	border-radius:5px;
	outline:none;
	background-color:transparent;
	border:none;
}
.slider-container .slider::-webkit-slider-thumb {
	-webkit-appearance:none;
	width:15px;
	height:15px;
	background-color:#43abe8;
	border-radius:50%;
	cursor:pointer;
	outline:none;
	box-shadow:0 0 0 0 rgba(98,
	0,
	238,
	.1);
	transition:.3s ease-in-out;
}
.membersCount {
	text-align:center;
}
.countBox {
	padding:3px;
	border-radius:50px;
	background-color:#7cd9fa;
	font-size:18px;
	height:40px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.removeCount,
.addCount,
.Count {
	padding:0 15px;
}
.Count {
	padding:0 15px;
	height:45px;
	width:45px;
	background-color:white;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	box-shadow:0 0 5px #b2b2b2;
}
.membersCount label {
	position:relative;
	top:0;
	left:0;
}
.table-responsive {
	font-size:12px;
}
.content {
	background-color:white;
	height:100%;
}
.buttonContainer {
	text-align:center;
	width:100%;
	display:flex;
	font-size:16px;
	font-family:'Poppins-Medium';
	margin-bottom:10px;
}
.buttonContainer button {
	border:none;
	padding:10px;
	width:50%;
	border:none;
	background-color:transparent;
	color:white;
}
.buttonContainer button:focus {
	outline:none;
}
.tabPanel {
	background-color:white;
	height:100vh;
	padding:10px;
}
th {
	font-family:Poppins-Bold;
	padding-bottom:8px;
}
td {
	padding:3px;
}
.tab-active {
	border-bottom:2px solid white !important;
}
.addNewBtn,
.searchBtn {
	width:45px;
	height:45px;
	background-color:#57c2e8;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	box-shadow:3px 3px 3px #b5b5b5;
	font-size:35px;
	position:fixed;
	bottom:70px;
	right:20px;
	color:white;
}
.searchBtn {
	bottom:125px;
	background-color:white;
	color:black;
	border:1px solid #57c2e8;
}
.quotePlan {
	background-color: #f4f4f4;
	margin:10px 0 20px;
	padding:5px;
	line-height:15px;
	box-shadow: 0 2px 5px #bebebe;
}
.quotePlan .grid {
	display:grid;
	grid-template-columns:40% 30% 30%;
	font-size:12px;
	padding:3px;
	border-bottom:1px solid gray;
	margin-bottom:10px;
}
.quotePlan .grid img {
	width:80%;
}
.quotePlan .grid > div {
	/* padding: 7px; */
}
.quotePlan .premiumAmount {
	padding: 8px;
	background-color: red;
	border: 2px solid red;
	color: white;
	font-family:'Poppins-Medium';
	text-align:center;
	border-radius:10px;
	margin:5px auto;
	font-size: 18px;
	width:90px;
}
.boder-btn {
	padding:5px 20px;
	background-color:white;
	border:2px solid #4ad0ff;
	color:#3ec2f0;
	font-family:'Poppins-Medium';
	text-align:center;
	border-radius:10px;
	margin:5px 0px;
	font-size:14px;
	width:auto;
}
.quotePlan .buyNowBtn {
	text-align:center;
	border-radius:10px;
	margin: 0 auto;
	width:90px;
}
.quotePlan table td {
	padding-bottom:10px;
	line-height:15px;
}
.titleText {
	background-color:white;
	border-radius:5px;
	padding:5px 5px;
	text-align:center;
	color:#4ad0ff;
	margin:0 10px 5px;
}
.titleText .col-4 {
	padding:0 5px;
}
.text-box {
	background-color:#a9e6fb;
	padding:10px 20px;
	border-radius:15px;
	width:85%;
	margin:auto;
	border:2px solid white;
}
.notification-box {
	width:90%;
	margin:10px auto;
	background-color:white;
	border-radius:5px;
	padding:5px;
	box-shadow:0 0 3px gray;
}
.desclaimer {
	text-transform:uppercase;
	padding:15px;
}
.desclaimer p {
	padding:0;
}
#my-profile .profile {
	height:130px;
	width:130px;
	margin-bottom:10px;
}
#my-profile .input-Box {
	width:93%;
	border-radius:5px;
	box-shadow:0 0 3px grey;
	margin:auto;
	padding:20px 15px;
}
.user-profile img {
	width:100%;
	height:auto;
	border-radius:100%;
	padding:3px;
}
#edit-profile {
	position:absolute;
	height:40px;
	width:40px;
	background-color:#c5c5c5;
	border-radius:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	color:white;
	bottom:0px;
	right:10px;
	font-size:20px;
	cursor:pointer;
	border:1px solid white;
}
#insurers {
	width:95%;
	margin:auto;
	margin-top:10px;
}
#insurers .swiper-slide {
	text-align:center;
	box-shadow:0 0 5px #bdbdbd;
	width:120px;
	height:55px;
	padding:7px 5px !important;
	background-color:white;
	padding:0;
	border-radius:5px;
}
#insurers .swiper-slide-active {
	background-color:#d2f2fd;
}
#insurers .swiper-slide div {
	height:100%;
	width:100%;
}
#insurers .swiper-slide img {
	width:95%;
	border-radius:10px;
}
.application-plan hr {
	margin:2px;
	background-color:gray;
}
.application-plan {
	margin-bottom:40px;
	padding:5px;
}
.application-plan .col-6,
.application-plan .col-12 {
	padding:0
}
.sub-heading {
	background-color:#3cafe8;
	color:white;
	width:95%;
	margin:auto;
	border-radius:5px;
	text-align:center;
	cursor:pointer;
}
.premium-details .buttonContainer button {
	color:#43abe8;
	border:1px solid #43abe8;
	margin-top:15px;
	font-size:14px;
	padding:5px;
}
.premium-details .buttonContainer .active {
	background-color:#43abe8;
	color:white;
	border-bottom:none !important;
	border:2px solid #43abe8 !important;
}
.premium-details .buttonContainer {
	margin-bottom:5px;
}
.premium-details .tabPanel {
	border-bottom:1px solid gray;
	height:auto;
	padding:10px 20px;
}
.box {
	margin:15px 5px;
	border:1px solid gray;
	text-align:center;
	border-radius:5px;
}
.box strong {
	font-size:12px;
}
.popup {
	position:fixed;
	height:100%;
	width:100%;
	background-color:#00000075;
	z-index:1;
	top:0;
	display:none;
}
.popup .popup-text {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,
	-50%);
	width:95%;
	background-color:white;
	box-shadow:0 0 5px white;
	border-radius:5px;
}
.popup .title {
	padding:10px;
	text-align:center;
	background-color:#43abe8;
	color:white;
	margin-bottom:10px;
	border-radius:5px 5px 0 0;
}
.popup .title h3 {
	margin-bottom:0;
}
input[type='checkbox'] {
	width:auto;
	margin-right:12px;
}
.popup .popup-text button {
	border-radius:10px;
	position:relative;
	bottom:0;
	width:30%;
	font-size:16px;
	background-color:white;
	color:#43abe8;
	border:2px solid #43abe8;
	box-shadow:none;
	margin:10px;
}
.popup .popup-text .colse-btn {
	border:2px solid red;
	color:red;
}
#registration .input-Box {
	top:0;
	padding-top:15px;
	width:95%;
	margin:auto;
	box-shadow:0 0 3px grey;
	border-radius:5px;
	margin-bottom:110px;
}
.input-Box h6 {
	margin-bottom:15px;
	color:#43abe8;
	font-family:'Poppins-Medium';
	font-size:16px;
	margin-left:10px;
}
.documents .col-12{
	display: flex;
	width: 100%;
	height: auto !important;
}
.documents p{flex-basis: 90%;}
.documents label{position: relative;top: 0;left: 0;margin-bottom: 0;}
textarea{border:none;width: 100%;border-bottom: 1px solid gray;}
textarea:focus{outline: none;}
.profestional-info > div{height: auto !important;margin-bottom: 5px;}
.toggle-btn .toggle{
    height: 20px;
    width: 40px !important;
    border: 2px solid #808080;
}
.toggle-btn .toggle::after{
    height: 18px;
    border: 2px solid gray;
    background-color: gray;
}
.toggle-btn .checkbox:checked + .toggle::after {
	background-color:#42abe7;
	border: 2px solid #42abe7;
}
.toggle-btn .checkbox:checked + .toggle {
	border: 2px solid #42abe7;
}
.side-menu-popup{
    position: fixed;
    bottom: 0;
    background-color: #0000003b;
    width: 100%;
    z-index: 2;
    font-size: 16px;
    height: 100%;
    overflow: auto;
    display: none;
}
.side-menu .menu-list{
    list-style-type: none;
}

.side-menu .menu-list img{
    width: 30px;
    margin-right: 15px;
}

ul.menu-list > li {
    margin-bottom: -1px;
    padding: 10px;
    color: #545454;
}

ul.menu-list > li:last-child {
    border: none;
}
.side-menu .sub-menu{
    list-style-type: none;
    margin-left: 45px;
    display: none;
}

ul.sub-menu > li {padding: 2px;font-family: 'Poppins-Regular';color: #787878;font-size: 14px;}

ul.sub-menu > li:hover {
    color: black;
}
.side-menu{
    position: absolute;
    bottom: 20px;
    background-color: white;
    width: 100%;
    height: auto;
    padding: 20px;
    overflow: scroll;
    border-radius: 25px 25px 0 0;
    }

.side-menu-popup .active{color: #1fb4e7;
    font-family: 'Poppins-Medium';}