@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,900');
*{margin: 0;padding: 0;font-family: Open Sans;letter-spacing: 0.5px;}
body{background: #013068;background-size: contain;height: 100%;}
.dashbord_btn{width: 90%;margin: 0px auto;color:#fff;max-width: 500px;text-align: left}
#dbb{display: inline-block;padding: 10px;font-size: 1em;margin-bottom: 5px;background: #e5e5e5;color:#062654;}
.menu{background: #ccc;padding: 10px 20px !important;}
.head_wrap{padding:0;margin: 0;display: none;}
.logo{font-weight: 900}
.logo,.menu{padding: 10px;}
.connect{background: #000;color:#fff;}
.connect i{margin: 3px;font-size: 18px;}
.nav_wrap{background: #fff;color: #000}
.form_container{margin-bottom: 10px;}
.ins_heading h1{color:#fff;text-align: center;font-size: 1.6em;padding: 10px 5px;}
.form_wrap{width: 90%;margin: 0px auto; background: #fff;color:#000;padding: 10px;max-width: 500px;}
.form_heading{color: #031b3c; font-size: 1.1em;text-align: center;font-weight: bold;padding: 20px 0px;}
.compare_input input{display: block; width: 100%;border: 1px solid #ccc;padding: 6px 12px;border-radius:5px;font-size: 14px;text-align: center;text-transform: uppercase;font-weight: 900;color:#333;}
.compare_input input:focus{border-color:#66afe9;outline: none;}
.compare_input input::placeholder{color:#ddd;}
.btn{text-align: center; padding:10px 25px;background: #062654; margin: 5px auto;font-size: 14px;border-radius:25px;color: #fff;}
.btn_2{text-align: center; padding:10px 25px;background: #e51b21; margin: 0px auto;font-size: 12px;border-radius:5px;color: #fff;width: 60%;
font-weight: 900;
letter-spacing: 1px;text-transform: uppercase;margin-bottom: 15px;}
.btn_3{display: inline-block;padding: 10px 10px; color: #fff; background: #062654;cursor: pointer;margin-top: 15px;}
.btn_wrap{text-align: center; padding: 10px 5px;}
.links{text-align: center;font-size: 14px;padding: 8px 5px;color: #333;font-weight: 900;}
.links a{color:#333;}
.links a:hover{text-decoration: none;}
.meet_exp{padding: 20px;background: #2c333c;border-top: 5px solid #e51b21;display: none;}
.me_head{color: #fff; text-align: center;font-size: 1.4em;}
.book_appoinement{margin:0px auto;border-bottom: 1px solid #ccc;margin-bottom: 15px;}
.info_head{color: #fff;text-align: center;width:60%;margin:0px auto;padding: 10px;font-size:14px;}
#register_vehicle{display: block;}
.form-group{
    height: 30px;
}
.input_row{width: 80%;margin: 0px auto;}
.input_row label{display: block;font-size: 14px;color:#333;font-weight: 700}
.grpbtn{background: #ccc; font-size: 12px;padding: 5px 10px}
.active{background: #062654;color:#fff;}

.input_row input{display: block; width: 100%;border: 1px solid #ccc;padding: 6px 12px;border-radius:5px;font-size: 12px;text-transform: uppercase;font-weight: 900;color:#333;}
.input_row select{display: block; width: 100%;border: 1px solid #ccc;padding: 6px 12px;border-radius:5px;font-size: 12px;text-transform: uppercase;font-weight: 900;color:#333;height: 34px;}
.input_row select:focus{border-color:#66afe9;outline: none;}
.input_row select::placeholder{color:#ddd;}
.input_row input:focus{border-color:#66afe9;outline: none;}
.input_row input::placeholder{color:#ddd;}
.form-title{color: #062654; font-size: 1.1em;text-align: center ;font-weight: bold;padding: 20px 0px;}
.policy_type{font-size: 14px;}
#dont_remember,#policy_details,#personal_details,#have_bike{display: none;}
.some_headings{text-align: center; font-size: 14px;font-weight:600;color: #333; }

/*Addons Page*/

.tab_wrapper {background: #1C2855;color: #fff; display: flex;
        flex-flow:nowrap;font-size: 12px;}
        .tab_wrapper div {
            width: 50%;
           padding: 10px 15px;
            cursor: pointer;
            text-align: center
        }  


		.box{padding: 0;}
		.data_container {
	
		} 
        
        .addon_row{padding: 10px;display: flex;
        flex-flow:nowrap;border-bottom:1px solid #e5e5e5;font-size: 12px;}        
    
        .active {
	border-bottom:3px solid #f9a50b
}
   
      .type {display: flex; }
        .selection_box {
            margin: 0px 20px;  
	   
}
        .select_all {
	
}
        .name_addons .selection_box {margin-left: 0px !important;}
        .stad{display: block;}
        .bundle_addons 
            {display: none;}
        
        .addons{display: flex;flex-wrap: wrap  }
        .addons div {
				width:100%;	
            padding: 10px;
            
}
        .insurer_name {
	padding: 10px;
            border-bottom: 1px solid #ccc;
            background: #1C2855;
            color: #fff;
}
        
        .pack {
	border: 1px solid #ddd;
            font-size: 12px;
}

.pack:last-child {
	margin-bottom: 30px;
}
.close_btn {
	position: absolute;
    right: 2%;
    font-size: 1.5em;
    top:5px;
    cursor: pointer;
}

        .apply_button{    background: #d00004;
    padding: 7px 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    -moz-box-shadow: 2px 4px 5px 0 #ccc;
    -webkit-box-shadow: 2px 4px 5px 0 #ccc;
    box-shadow: 2px 4px 5px 0 #ccc;
        }
        
        .btn_row  {
        display: block;
            text-align: center;
            padding: 20px 0px;
        }
        
        .sticky {
  position: fixed;
  z-index: 9999;
  width: 100%;
            top:0;
}
.all_list span {
	display: inline-block;
    padding: 0 10px;
}
.detail_heading{padding:  2px 5px !important;cursor:pointer;display:inline; background:#666; font-size:10px;border-radius:2px; color:#fff;letter-spacing:1px; margin-left:5px;}
.bundleAddons{display:block; padding:5px 7px;margin:2px;}
.more_details{padding:0 10px !important; width:100% !important; border-bottom:1px solid #e5e5e5;  }
.addMark{font-size:12px; color:green;font-weight:bold;margin-right:5px; }

/* quote page CSS */

.summary_wrap{background: #fff; border-radius: 5px;}
.sum_top{border-bottom: 1px solid rgb(181, 179, 179);}
.quote_panel{background: #fff; border-radius: 5px;}
.makemodelname,.crn_num{font-size: 12px;font-weight: 700;}
.filter{color:#ccc;cursor: pointer}
.sum_detail{font-size: 12px;text-align: center}
.sum_detail .title{font-weight: 900;text-transform: uppercase}
.quote_panel{font-size: 12px;text-align: center}
.quote_panel .ins_img{ width:100px; height: 70px;}
.quote_panel span{color:#2278ab;text-transform: uppercase;font-weight: 900;padding: 5px;}
.quote_panel .idv{font-weight: bold;margin: 10px;}
.instruction{font-size: 10px;}
.premium_btn{font-size: 1.3em;background: #e68e09;color:#fff;padding: 3px 20px;border-radius: 5px;cursor: pointer; max-width: 200px;text-align: center;margin: 0px auto;font-weight: bold;letter-spacing: 0.5px} 
.more_detail{padding:8px;text-decoration: underline; cursor: pointer;font-size: 12px; }
.footer_btn{color:#fff;bottom: 0;position: fixed;width:100%;text-align: center; }
.footer_btn div{margin-left:1px;background: #040d38;padding: 10px;cursor: pointer}
/*QR Code*/
.shareCode{position: absolute;background: #fff;width: 100%;border-bottom:1px solid #e2e2e2;text-align: center;display: none }
/*popup*/
.popup_overlay {background: #f1f1f1!important;position: fixed;width: 100%;top: 0;height: 100%;display: none;z-index: 1;overflow: auto}

.structure_info .header,.structure_addon .header,.structure_cov_more .header,.structure_prem_break .header,.structure_filter .header{padding: 10px;text-align: left; text-transform: uppercase;background: #1c2855;color: #fff;}
.popup_content{padding: 8px; margin-bottom: 20px !important;}
.cls {
	position: absolute;right: 2%;font-size: 24px;margin-top: -5px;cursor: pointer;
}
.content_wrap{height: 80%; overflow: auto}
.pd_row {
	display: flex;
}
.pd_row div {
	 flex-grow: 1;
}
.pd_row div:nth-child(2){text-align: right}
.pdhead{
	 color: #fe712a;
    font-size: 14px;
    font-weight: bold;
}
.space{padding: 10px;}
.btnPanel{background: #5d5954;    height: 40px;
    padding-top: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.cov_wrap{color:#1d2855 }
.cov_wrap  .lab{
	font-weight: bold;
}
.subhead{font-size: 14px;}
.infotxt{font-size: 10px;margin-left: 5px;}
.two_col{display: grid;grid-template-columns: 1fr 1fr;grid-row-gap: 10px;margin-bottom: 10px;}
.two_col input[type="number"] {
	    border: 1px solid #314461;
    color: #666;
    font-family: calibri;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding: 1% 2%;
    width: 100%;
    background: #fff;
    border-radius: 5px;
}
.radioGroup{padding: 10px;display: grid;grid-template-columns: 1fr 1fr 1fr}

/* Term CSS */
.btn_label{display: block;}

/*HEALTH CSS*/

.mem_wrap {
	border:1px solid #ccc;
    display: none;
}
.member_insured{display: flex;text-align: center; border-bottom: 1px solid #e5e5e5;}
.member_insured div{width:50%; cursor: pointer;}
.mem_row{ display: flex;box-sizing: border-box;}
.mem_row div{ font-size: 12px !important;text-align: center; }
.mem_row input {
padding: 0;
    margin: 0;
    width: 45px;
        margin:0px auto;
            text-align:center;
        padding: 2px 4px;
        
}
.mem_row .user{ width: 30%;text-transform: uppercase;padding: 2px 4px;font-size: 14px !important; }
.mem_row .user_age{
	 width: 30%;
}
.mem_row  .gender{width:40%;}
.mem_row .radiobtn {
	padding: 2px 7px;
    border:1px solid #ccc;
    margin: 1px;
    cursor: pointer;
    text-transform:uppercase;
}
.memberAdd{font-size: 14px !important;text-align: center; width:100%; border:2px solid  #062654; padding: 5px;color: #062654;cursor: pointer;border-radius: 5px; font-weight: bold}

.list-tilel-box h3 {
        font-size: 13px;
        color: #616161 !important;
        margin: 0;
        font-weight: normal !important;
        line-height: 24px;
        position: relative;
        text-align: left !important;
    }

	.list-tilel-box h3 span {
            color: #1C2855 !important;
            font-weight: bold !important;
        }
		
		.BlockSections {
        /*display: inline-block;*/
        margin-bottom: 2px;
        font-size: 10px;
        background-color: #fff;
        color: #fff;
        border-radius: 2px;
        padding: 4px;
        margin-right: 3px;
        background-color: #1e90c1;
    }

        .BlockSections span {
            background-color: white;
            color: black;
            padding: 1px;
            border-radius: 2px;
        }
		
	  .table > tbody > tr > td {
        padding: 4px !important;
    }

        .table > tbody > tr > td:first-child {
            width: 60px;
            background-color: #e1e0e6;
        }

        .table > tbody > tr > td:nth-child(2) {
            height: 27px;
        }

.list-tilel-box {
        float: left;
        width: 100%;
    }

    .nooutline {
        outline: none !important;
    }

    .list-tilel-box h3 {
        font-size: 13px;
        color: #616161 !important;
        margin: 0;
        font-weight: normal !important;
        line-height: 24px;
        position: relative;
        text-align: left !important;
    }

        .list-tilel-box h3 span {
            color: #1C2855 !important;
            font-weight: bold !important;
        }

		 .list-group-item {
        font-size: 14px;
        font-weight: normal;
        color: #646464;
    }

    .list-group .list-group-item {
        background-color: transparent;
        overflow: hidden;
        border: 0;
        border-radius: 0;
        padding: 2px 0px;
    }
	 .validationclass {
        text-align: center;
        color: red;
        padding: 5px;
    }

.loader {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #337ab7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
  .ErrorMsg {
        
        top: 56px;
        font-size: 13px;
        color: #fc2c2c;
        padding-top: 10px;
        animation: my-animation 0.3s ease; /*animation: anim 1s ease-in-out;*/
    }
.addon_pane {
	display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    padding-bottom: 5px;
}
.addon_pane div{
	
}
.ad{font-weight: bold; text-transform: capitalize;font-size: 10px;padding-left: 5px;}
.ad_p{text-align: center;color:#02bf36;font-weight: bold;font-size: 10px;}

.ErrorMsg {
        color: red !important;
        font-size: 11px;
    }
	.errorClass1 {
        border: 1px red solid;
        /*border-radius: 5px;*/
    }
	.btnError { border: solid 1px #e51b21 !important; }
	.quote-wrapper .quoteboxparent 
			{margin-bottom: 48px;}
	.two_col input{
		height:26px;
	}
	/*------------------------------- Calender---------------------------- */
	
	.customChange {background: #2c2c54 !important;border-radius:5px !important; }
      .ui-datepicker{margin: 10px auto;width:80% !important; max-width: 500px;font-family: Open Sans Condensed;font-weight: bold;left: 0 !important; right: 0 !important}
      .ui-datepicker-header{color: #fff;display: grid;grid-template-columns: [col]auto [col]auto  [col]auto ;padding: 5px ;cursor: pointer}
      .ui-datepicker-calendar {width:100%;   border-collapse: separate;border-spacing: 0; font-weight: 100 !important }
      .ui-datepicker-prev {
		grid-column: col 1/ span 2 !important;
		grid-row: row !important;
		text-align: left !important;
        font-size: 14px;
         padding: 5px;
		 top:0px !important;
	}
	.ui-datepicker-next {
		grid-column: col 3 / span 2 !important;
		grid-row: row !important;
        text-align: right !important;
        font-size: 14px !important;
        padding: 5px !important;
        top:0px !important;
	}
      .ui-datepicker-title{
        grid-column: col / span 4;
		grid-row: row 3;
          text-align: center;
          font-size: 16px !important;
		  margin: 0px !important;
		  line-height: 3.9em !important;
          }
		.ui-widget-header{
			border:0px !important;
			background:transparent !important;
		}
		
      table.ui-datepicker-calendar{padding: 10px;}
      .ui-datepicker-calendar th{padding: 5px;color: #999;}
      .ui-datepicker-calendar td{width: 14.28%; text-align: center;padding: 5px;text-decoration: none;}
      .ui-datepicker-calendar td a{text-decoration: none !important; font-size: 13px !important; color: #fff !important;border:0px !important;background:transparent !important;}
      .ui-datepicker-calendar td:hover{background: #706fd3;border-radius: 50px;}
      .ui-datepicker-month,.ui-datepicker-year{font-size: 16px !important; background: #2c2c54; color: #fff;font-family:Open Sans Condensed;width:50%;text-align: center;font-weight: bold }
      .ui-datepicker-buttonpane {display: grid; grid-template-columns: 1fr 1fr; }
      button.ui-datepicker-buttonpane{font-size: 20px; background: #2c2c54; color: #fff;font-family:Open Sans Condensed;width:50%;text-align: center;font-weight: bold }
      
	/*------------------------------- Calender END---------------------------- */
	
	menuBox{
                display: none;
                position: absolute;
                background: #f7f7f7;
                right: 0px;
                z-index: 9999;
                font-weight: bold; 
                box-shadow: 0px 1px 2px 0px #666;
            }
            .menuBox div{
                padding:10px;
                border-bottom: 1px solid #e5e5e5;
                cursor: pointer;
                transition: all 0.2s ease-in
                

            }
            .menuBox div:hover{

                background: #009fe3 ;
                color: #fff;
                font-weight: 100;

            }