
.infogra-box1{width:260px; height:auto; float:left;}
.infogra-box2{width:718px; height:auto; float:right; background-color:#e4e8e9; border:1px solid #dbdbdb; padding-bottom:10px;}
.infogra-nav1{width:230px; height:auto; padding:15px; background-color:#e4e8e9; margin-bottom:8px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px; border:1px solid #dbdbdb;}
.motorinfographic:hover{background-color: #ed1c21;}
.healthinfographic:hover{background-color: #ed1c21;}
.travelinfographic:hover{background-color: #ed1c21;}
.otherinfographic:hover{background-color: #ed1c21;}
.infogra-video{width:260px; height:200px; background-color:#e4e8e9; margin-bottom:8px; margin-bottom:8px; border:1px solid #dbdbdb;}
.infogra-slideshare{width:260px; height:200px; background-color:#e4e8e9; margin-bottom:8px; margin-bottom:8px; border:1px solid #dbdbdb;}
.infogra-blog{width:260px; height:200px; background-color:#e4e8e9; margin-bottom:8px; margin-bottom:8px; border:1px solid #dbdbdb;}

.infographics-thumbs{width:166px; height:219px; margin-left:8px; margin-top:8px; float:left; background-color:#824446; border:1px solid #b5b5b5;}

.infographics-textred{color:#FF0004;}


