



@import url('https://fonts.googleapis.com/css?family=Hind'); 
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
		transform: scaleZ(1)
	}
	100% {
		opacity: 1;
		transform: scaleZ(1.2)
	}
}

@keyframes slidein {
	0% {
		height: 0%;
	}
	100% {
		height: auto;
	}
}

@keyframes mymove {
    0% {width: 200px}
	100% {width: 0px;}
	
}

@-webkit-keyframes scalein{
			
	0%{ -webkit-transform: scale(1);}
	50%{ -webkit-transform: scale(1.1)}
	100%{ -webkit-transform: scale(1)}
	}
	
@-webkit-keyframes rotateHorz{

	0%{ -webkit-transform: rotateX(90deg);}
	100%{ -webkit-transform:rotateX(0deg)}

}


*{margin:0;padding: 0;border: 0;font-family: Hind}
.nopadding{padding: 0 !important}
  textarea, select, input, button { outline: none; }
body{height: 100%;width: 100%;}
.header {padding: 10px; background: #fff; }
.header_wrap {display: flex;}
.mobicon{display: none}
.logo{width: 40%;padding-left: 40px}
.nav_links{display: flex;align-items: center; justify-content: flex-end;margin-left: auto;text-align: center}
.nav_links  div{cursor: pointer;font-weight: 100;color: #151515; width: 100px; padding: 3px 5px;margin: 0px 5px }
.nav_links  div:hover,.active{background:  #2196f3;color: #fff !important;border-radius:25px }
.quote_container{padding:1em; width: 80%;margin: 0px auto}
.bbox_container{display: flex;}
.image_container{width: 60%; flex-grow: 1; display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;}
 /*.inpErr{box-shadow: 0px 0px 7px 0px #2196f3;}*/ 
 .inpErr{box-shadow: 0px 0px 3px 0px red;} 

/*Radio box*/
.container{display:block;position:relative;padding-left:25px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-weight: normal}
.container input{position:absolute;opacity:0;cursor:pointer;}
.checkmark{position:absolute;top:2px;left:0;height:15px;width:15px;background-color:#eee;border-radius:50%;border:1px solid #2196f3}
.container:hover input ~ .checkmark{background-color:#ccc;}
.container input:checked ~ .checkmark{background-color:#ededed;}
.checkmark:after{content:"";position:absolute;display:none;}
.container input:checked ~ .checkmark:after{display:block;}
.container .checkmark:after{top:3px;left:3px;width:9px;height:9px;border-radius:50%;background:#2196f3;}
/* radio box CSS End Here */

/* Checkbox */

.cb_cont{display:block;position:relative;padding-left:35px;margin-bottom:1px;cursor:pointer;font-size:22px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.cb_cont input[type="checkbox"]{opacity:0;cursor:pointer;height:0;width:0;}
.tickmark{position:absolute;top:0;left:0;height:20px;width:20px;background-color:#e0e0e0;left: 50%;
    transform: translateX(-50%);}
.cb_cont:hover input[type="checkbox"] ~ .tickmark{background-color:#ccc;}
.cb_cont input[type="checkbox"]:checked ~ .tickmark{background-color:#2196f3;}
.tickmark:after{content:"";position:absolute;display:none;}
.cb_cont input[type="checkbox"]:checked ~ .tickmark:after{display:block;}
.cb_cont .tickmark:after{left:6px;top:2px;width:5px;height:10px;border:solid white;border-width:0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}

/* Single Handle Slider */
.slider{-webkit-appearance:none;width:100%;height:5px;border-radius:5px;background:#d3d3d3;outline:none;opacity:0.7;-webkit-transition:.2s;transition:opacity .2s;}
.slider::-webkit-slider-thumb{-webkit-appearance:none;appearance:none;width:20px;height:20px;border-radius:50%;background:#2196f3;cursor:pointer;}
.slider::-moz-range-thumb{width:20px;height: 20px;border-radius:50%;background:#2196f3;cursor:pointer;}
/* Slider End Here */

.period{background: red; color: #fff;padding: 2px;font-size:10px; cursor: pointer;}
.image_container img {width: 100%;height: auto;}
.form_container{width: 40%; flex-grow: 1; padding: 10px;background: #fff;}
.ins_heading { color: #333 ;padding-top: 20px;letter-spacing: 1}
.ins_advt_line{text-transform: uppercase;font-size:12px;padding-bottom: 20px;color:#797979;font-weight: 100}
.row_wrap {display: flex;padding: 0px}
.row_wrap .two_col {width: 50%;border:1px solid #c9c9c9;display: flex;font-size: 13px;margin: 5px;}
.label {  padding: 5px;align-items: center;color: #7d7d7d}
.label img{margin:5px;border:1px solid red}
.input{ flex-grow: 1;width: auto;}
.input input, .input select{width: 100%; padding: 5px;align-items: center;color:#999;box-sizing:border-box}
.row_wrap .one_col {width: 100%;border:1px solid #c9c9c9;display: flex;font-size: 13px;margin: 5px;}
.one_fold{width: 50%;}
.one_fold .input {
flex-grow: 1;

}
.fold{display:flex;flex-grow:1;justify-content:space-between}
.fold span{width:30%;padding-left:0.5px;box-sizing:border-box;}
.selectbox{padding: 5px;color:#999;}
.selectbox div{display: inline-block;}
.two_fold{width: 40%;display: flex;}
.three_fold{display: grid; text-align: center; width: 100%;}
.three_fold input {
border-top:1px solid #c7c7c7;
text-align: center;
}
.imgSelect img{width: 20px;vertical-align: middle;margin:0px 5px; cursor: pointer}
.three_fold .label{flex-grow: 1; width: auto}
.instruction{width: 100%;font-size: 10px;text-align: center;color: #797979}
.sub_row{text-align: center;padding-top: 2em;}
.sub_btn{display:block;background: #2196f3;text-transform: uppercase;font-size:1.1em;color:#fff;padding: 5px 45px; cursor: pointer}
.toll_row{text-align: center;padding: 2em 0px;color: #797979}
.toll_txt{color: #2196f3; font-weight: bold;}
.img_sel {float: right}           



@keyframes slidertl{
	0%{
		
		width: 25%;

	}
	100%{

		width:5%;

	}
}
/* Quote Page  CSS */
.minimize,.expa{cursor: pointer;}
.expa_tp{text-align: center;cursor: pointer;transition: all 1s ease;border:none !important;}
.expa_tp:hover{background: red; color: #fff;}
.quotebox_container{padding: 2px;}
.quoteWrap{width: 80%; margin: 0px auto; padding: 5px; display: -webkit-flex;display: flex;}
.quotebox:hover{transform: scale(1.02);transition: all 0.1s cubic-bezier(0.25,0.25,0.25,1) }
.leftSide_Panel{width: 25%;padding: 5px;background: #ffffff;margin:5px;border: 1px solid #e0e0e0}
.slideRighttoLeft{animation:slidertl  1s linear;}
.dyn_leftSide_Panel{width:5%;padding: 5px;background: #ffffff;margin:5px;border: 1px solid #e0e0e0;display: none;}
.rightSide_Panel{width: 75%;height: 100%;padding: 5px;margin:5px}
.row_panel{border:1px solid #c7c7c7;padding: 10px;}
.leftSide_Panel .row_panel{border:none;}
.reset{text-align: right; text-decoration: none; color:#666;cursor: pointer;font-weight: bold; font-size: 14px;}
.clear{clear: both}
.title{float: left;font-weight: bold}
.hide{float: right;font-weight: bold;font-size:13px;color:#999;cursor: pointer;}
.titile_pane{border-bottom: 1px solid #e0e0e0;}
.infoTag{color: #c7c7c7;cursor: default; }
.iconbtn{display: none;}

.infoTag:hover {
    color: #333;
}

.toolTipBox{position: absolute; background: rgba(0,0,0,0.9);color: #fff; padding:5px 9px; border-radius: 5px;z-index: 9999;font-size: 12px;max-width: 20%;margin: 0px auto;opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s; }

.tooltext_detail{display: none;}

.section_pane{padding: 5px; font-size:13px;font-weight: bold}
.section_pane .left_label{float: left;}
.section_pane .right_label{float: right;}
.section_pane input{width: 100%;}

.section_pane1{padding: 5px; font-size:13px;font-weight: bold} 
.section_pane1 .left_label{float: left;}
.section_pane1 .right_label{float: right;}
.section_pane1 input{width: 100%;}

.detailrow{display: flex; align-items: center;border:none;}
.tab_1{width: 65%;font-size: 14px;color: #5c5c5c}
.tab_2{width: 15%;}
.tab_3{width: 20%;}
.det_board{background: #fff;display: flex;padding: 5px }
.drop_tab{width: 100px !important;border:1px solid #c7c7c7;font-size: 12px;}
.filter_tab{border-bottom:1px solid #c7c7c7;font-size: 14px;}
.tab_half{width: 50%; font-size: 14px;flex-grow: 1}
.tab_half:nth-child(1){width: 20%;}
.right_tab{text-align: right}
.ins_img{display: flex;flex-wrap: wrap;}
.ins_img img{width: 100%;height: auto;text-align: center;}
.act{-webkit-filter:none !important; /* Safari 6.0 - 9.0 */
	filter: none !important; }


.content_section{width: 60%; display: flex;}
.button_section{display: flex;}
.cust_btn{background: #fff; padding: 2px 9px; cursor: pointer; }
.modify{background:#949494;color: #fff;padding: 2px 12px; border-radius: 5px;font-size: 12px; }
.oth_tab{background:#fff;font-size: 12px;color: #333; margin: 2px; border:1px solid #c7c7c7}
.mod{background: #949494 !important; text-align: center; flex-grow:1;width:10%;}
.rightSide_Panel .row_panel{margin-bottom: 5px;}
.row_panel .heading_menu{display: flex;width: 100%; background: #f0fdfc;padding: 0 }
.heading_menu div{flex-grow: 1;text-align: center;font-size: 12px !important;}
/*.inpl,.pay,.clse,.coup{width: 15%;}*/
.inpl{
    width:15%;
}
.pay{
    width:10%;
}
.clse{
    width:10%;
}
.coup{
    width:10%;
}
/*.spfe,.prem{width: 20%;}*/
.spfe{
width: 35%;
}
.prem{
width: 20%;
}
.quoteBox{background: #fff;display: flex;position: relative; margin-bottom: 10px;-webkit-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.15);border:1px solid #e0e0e0}
.quoteBox div{flex-grow: 1;text-align: center;border-right: 1px solid #c7c7c7;}
/*.inpl_det,.pay_det,.clse_det,.coup_det{width: 15%;}*/
.inpl_det{
    width:15%;
} 
.pay_det{
    width:10%;
}
.clse_det{
    width:10%;
}
.coup_det{
    width:10%;
}
.pay_det,.clse_det,.coup_det{display: flex;align-items: center;}
.pay_det span,.clse_det span,.coup_det span{width: 100%;}
/*.spfe_det,.prem_det{width: 20%;}*/
.spfe_det{
    width:35%;
}
.prem_det{
    width:20%;
}
.spfe_det{font-size: 10px; padding: 5px !important;text-align: left !important}
.spfe_det  span{display: block;text-align: left !important;}
.spfe_det span::before{
  content:"●  ";
}
.prem_det{padding-top: 5px;    border-right: none !important;}
 .btn_box{ padding: 0 !important; width: 80%;margin: auto; display: block;}
 .btn_box span{display: block;border: none !important}
 .buytag{font-size: 11px;text-align: left;line-height: 10px;color:#2196f3;font-weight: bold;margin-left:3px; }
 .quote_val{font-size: 20px;background: #2196f3;font-weight: bold; color: #fff;letter-spacing: 2px;border-radius: 5px;cursor: pointer;}
 .val_ins{font-size: 8px; padding: 5px 0px;}
.reco_panel{position: absolute;background: #139e01; font-size: 10px;color:#fff;padding: 1px 14px;left: 39%}
.plan_name{text-transform: uppercase;font-size: 10px;font-weight: bold;color:#5c5c5c;display: block}
.comp{display: none;}
.more_info{padding: 2px 10px !important; width: auto;margin: auto; display: inline-block;border:1px solid #ccc;font-size:14px;border-bottom: none;cursor: pointer;color: #000}


.rightWrap{

	-webkit-animation: mymove 1s linear; /* Safari 4.0 - 8.0 */
  animation: mymove 1s linear;

}

/* COMPARE BOX */
.compare_wrap{margin:0;width: 140px; height: auto;position: fixed;border:1px solid #c7c7c7;right: 0;top:50%; transform: translateY(-50%);text-align: center;;-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);background: #fff;color: #5c5c5c; border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
	.cw_heading{text-transform: uppercase;font-size: 13px;border-bottom:1px solid #c7c7c7;font-weight: bold;padding: 3px 0px 2px;}
.cins{padding: 5px 0px 5px;border-bottom: 1px solid #c9c9c9 !important;cursor: pointer;}
 .cins:last-child(){border: none !important;} 
.delete{font-size: 20px;display: block;padding: 0;position: relative;right: 0;line-height: 14px;cursor: pointer;}
.btn_row{padding: 15px;border-top: 1px solid #c7c7c7}
.cmp_btn{background: #2196f3; color: #fff; font-weight: bold;font-size: 14px;padding: 2px 19px;border-radius: 3px;margin: 0px auto;cursor: pointer;}

/* Compare Box ends Here */
/* Overlay Popup */

.ovl{position: fixed; width: 100%; height: 100%;overflow: hidden; background: rgba(0, 0, 0, 0.7);z-index: 999;display: none}
.popupContainer{width:60%; margin: 50px  auto;background: #ffff;border-radius: 5px;padding:10px;animation: rotateHorz 0.3s 0.3s ease-in backwards;}

.popupHeading{padding: 10px; background: #f9f9f9;border-radius: 5px 5px 0px 0px;border-bottom: 1px solid #cecece;font-weight: bold;color: #707070}
.popClose{position: absolute;right: 2%;font-size: 40px;top: -5px;color: #cecece;cursor: pointer;}
.popupSection{padding: 10px;background: #fff;border-radius: 0px 0px 5px 5px;}
/* .input_wrap{display: flex;flex-wrap: wrap;}
.inp_grp{width:50%;padding: 10px;box-sizing: border-box}
.input_wrap label{display: block;font-size: 12px;font-weight: bold;color: #797979}
.input_wrap input,.input_wrap select{display: block;border-bottom: 2px solid #cecece;width:100%;color: #797979} */
.popupSection .btn_wrap{display: block;text-align: center;padding:10px }
.popupSection .btn_wrap .cust_btn{background: #2196f3; border-radius: 5px;padding: 4px 17px;color: #fff;cursor: pointer;}
option{font-size: 16px;border: none;}
option:focus{outline: none;}
.detail_row{display: flex;border: 1px solid #c7c7c7;padding: 10px 20px; background: #f9f9f9;margin-bottom: 10px;}
.detail_row div{flex-grow: 1}
.detail_row .hding{font-size: 10px;color: #939393;font-weight: bold; display: block;}
.detail_row .sec{font-size: 16px;color: #333;font-weight: bold;display: block;line-height: 1}
.smlett{font-size: 8px;}
.plan_row{color: #333;border: 1px solid #c7c7c7;margin-bottom: 10px}
.plan_heading{border-bottom:1px solid #c7c7c7;padding: 5px 20px;font-size: 14px;font-weight: bold;background: #f9f9f9 }
.detail_plan{display: flex;align-items: center}
.logo_img{padding: 5px 20px; border-right:1px solid #c7c7c7 }
.det_col{flex-grow: 1;padding: 0px 10px}
.det_col .hding{font-size: 10px;color: #939393;font-weight: bold; display: block;}
.det_col .sec{font-size: 16px;color: #333;font-weight: bold;display: block;line-height: 1}
.input_wrap{color: #333;border: 1px solid #c7c7c7;margin-bottom: 10px}
.inp_panel{display: flex;flex-wrap: wrap;border-bottom:1px solid #c7c7c7 }
.inp_grp{width: 33.33%;padding: 10px 20px;box-sizing: border-box;}
.input_wrap label{display: block;font-size: 10px;font-weight: bold;color: #333;text-transform: uppercase}
.input_wrap input,.input_wrap select{display: block;border-bottom: 2px solid #cecece;width:100%;color: #797979} 
.mod_wrap{}
.db_payout_heading{text-transform: uppercase; padding: 5px 20px; font-size: 14px;border-bottom: 1px solid #c7c7c7;background: #f9f9f9;font-weight: bold;}
.token_wraperr{text-transform: uppercase; padding: 12px; border-bottom: 1px solid #c7c7c7;background: #fff;}
.ben_token{border:2px solid  #2196f3;padding: 2px 20px;color: #333;border-radius: 20px;font-weight: bold;  margin:5px;cursor: pointer;display: inline-block;font-size: 12px;}
.act_token{background: #2196f3; color: #fff;}
.ben_token:hover{background: #2196f3; color: #fff;transition: all 0.5s ease-in-out}
/* Overlay Popup  Ends Herer*/




/*------------ Extra CSS - Start ------------------*/
.custom_val {
    font-size: 14px;
    border:1px solid #ccc;
    font-weight: normal;
    color: #666;
    padding: 3px 20px 1px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 4px;
    cursor: pointer;
}

/* Slider1 start Here */

.slider1 {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider1::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #2196f3;
        cursor: pointer;
    }

    .slider1::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fd696d;
        cursor: pointer;
    }
/* Slider1 End Here */

/* ADBslider Start Here */

.ADBslider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .ADBslider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #2196f3;
        cursor: pointer;
    }

    .ADBslider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fd696d;
        cursor: pointer;
    }
/* ADBslider End Here */

/* PDslider Start Here */

.PDslider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .PDslider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #2196f3;
        cursor: pointer;
    }

    .PDslider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fd696d;
        cursor: pointer;
    }
/* PDslider End Here */
/* CIslider Start Here */

.CIslider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .CIslider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #2196f3;
        cursor: pointer;
    }

    .CIslider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fd696d;
        cursor: pointer;
    }
/* CIslider End Here */

/* HCBslider Start Here */

.HCBslider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .HCBslider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #2196f3;
        cursor: pointer;
    }

    .HCBslider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fd696d;
        cursor: pointer;
    }
/* HCBslider End Here */

/*Tooltip CSS - Start*/
.tooltiptext {
    background-color: #5c5c5c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    margin:-50px -32px;
    position: absolute;
    display: none;
    font-size: 13px;
    font-weight: 300;
}
    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #5c5c5c transparent transparent transparent;  
    }


/*End*/
.txt12black {
    background-repeat:no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
    display:block;
    height:40px !important;
    width:100% !important;
    border:1px solid #c7c7c7;
    padding-left: 42px;
    margin: -10px;
    filter: grayscale(100%);
}
#checkbox input[type=checkbox]{
    display: none;
}

#checkbox input[type=checkbox]:checked + .txt12black{
    box-shadow: 0 5px 5px rgba(144, 142, 142, 0.6);
    filter: grayscale(0%);
}
#PolicyTermToolTextVal {
    padding: 5px 26px !important;
}

#CoverValueToolTextVal {
    padding: 5px 26px !important;
}

.ui-autocomplete { width: 200px; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
/*.ins_img div{width: 22.5%; margin: 2px; border: 1px solid #c7c7c7;cursor: pointer;-webkit-filter: grayscale(100%); filter: grayscale(100%); }*/
/* Safari 6.0 - 9.0 */
.ins_img div {
        width: 23%;
        height:45px !important;
        margin: 4px;
        cursor: pointer;
    }

 /*Scroll For Features start*/
.Scroll {
    max-height: 100px;
    overflow-y: scroll;
}
#Scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.Scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: transparent; /* or add it to the track */
}
/*End*/
.quotebox:hover{transform: scale(1.02);transition: all 0.1s cubic-bezier(0.25,0.25,0.25,1) }
.modal {
        position: fixed;
        background-color: black;
        z-index: 99;
        opacity: 0.5;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Arial;
        font-size: 6pt;
        display: none;
        position: fixed;
        z-index: 999;
        /*top: 40% !important;
        left: 45% !important;*/
    }

        .loading img {
            width: 80%;
        }

.Load_sec {
    text-align: center;
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    display: none;
}

    .Load_sec img {
        width: 8%;
        transform: translate(-50%,-50%);
        /* z-index: 999; */
        top: 50%;
        left: 50%;
        position: fixed;
    }


    .show {
    float: right;font-weight: bold;font-size:13px;color:#999;cursor: pointer;
}